
.titulo{
	text-align: center;
	background-color: #56070C;
	color: white;
}

table{
	width: 100%;
}

table, th, td{
	border: 2px solid #56070C;
	border-collapse: collapse;
}

td{
	text-align: center;
}

tr.receso{
	background-color: #56070C;
	color: white;
	font-weight: bold;
}

tr.ancho{
	height: 40px;
}

.cursiva{
	font-style: italic;
	color: gray;
}
